regadb-io/src/net/sf/regadb/io/relaxng/regadb-relaxng.xml

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <define name="net.sf.regadb.db.Patient">
    <optional>
      <element name="patientId">
        <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
          <param name="maxLength">50</param>
        </data>
      </element>
    </optional>
    <optional>
      <element name="lastName">
        <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
          <param name="maxLength">50</param>
        </data>
      </element>
    </optional>
    <optional>
      <element name="firstName">
        <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
          <param name="maxLength">50</param>
        </data>
      </element>
    </optional>
    <optional>
      <element name="birthDate">
        <data type="date" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
      </element>
    </optional>
    <optional>
      <element name="deathDate">
        <data type="date" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
      </element>
    </optional>
    <element name="Datasets">
      <zeroOrMore>
        <element name="Datasets-el">
          <ref name="net.sf.regadb.db.Dataset" />
        </element>
      </zeroOrMore>
    </element>
    <element name="testResults">
      <zeroOrMore>
        <element name="testResults-el">
          <ref name="net.sf.regadb.db.TestResult" />
        </element>
      </zeroOrMore>
    </element>
    <element name="patientAttributeValues">
      <zeroOrMore>
        <element name="patientAttributeValues-el">
          <ref name="net.sf.regadb.db.PatientAttributeValue" />
        </element>
      </zeroOrMore>
    </element>
    <element name="viralIsolates">
      <zeroOrMore>
        <element name="viralIsolates-el">
          <ref name="net.sf.regadb.db.ViralIsolate" />
        </element>
      </zeroOrMore>
    </element>
    <element name="therapies">
      <zeroOrMore>
        <element name="therapies-el">
          <ref name="net.sf.regadb.db.Therapy" />
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="net.sf.regadb.db.Dataset">
    <optional>
      <element name="description">
        <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
          <param name="maxLength">50</param>
        </data>
      </element>
    </optional>
    <optional>
      <element name="creationDate">
        <data type="date" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
      </element>
    </optional>
    <optional>
      <element name="closedDate">
        <data type="date" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
      </element>
    </optional>
    <optional>
      <element name="revision">
        <data type="int" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
      </element>
    </optional>
  </define>
  <define name="net.sf.regadb.db.TestResult">
    <optional>
      <element name="test">
        <element name="reference">
          <data type="int" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
        </element>
        <optional>
          <ref name="net.sf.regadb.db.Test" />
        </optional>
      </element>
    </optional>
    <optional>
      <element name="drugGeneric">
        <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
      </element>
    </optional>
    <optional>
      <element name="testNominalValue">
        <element name="reference">
          <data type="int" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
        </element>
      </element>
    </optional>
    <optional>
      <element name="value">
        <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
          <param name="maxLength">50</param>
        </data>
      </element>
    </optional>
    <optional>
      <element name="testDate">
        <data type="date" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
      </element>
    </optional>
    <optional>
      <element name="sampleId">
        <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
          <param name="maxLength">50</param>
        </data>
      </element>
    </optional>
    <optional>
      <element name="data">
        <data type="base64Binary" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
      </element>
    </optional>
  </define>
  <define name="net.sf.regadb.db.Test">
    <optional>
      <element name="analysis">
        <element name="reference">
          <data type="int" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
        </element>
        <optional>
          <ref name="net.sf.regadb.db.Analysis" />
        </optional>
      </element>
    </optional>
    <optional>
      <element name="testType">
        <element name="reference">
          <data type="int" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
        </element>
        <optional>
          <ref name="net.sf.regadb.db.TestType" />
        </optional>
      </element>
    </optional>
    <optional>
      <element name="description">
        <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
          <param name="maxLength">50</param>
        </data>
      </element>
    </optional>
  </define>
  <define name="net.sf.regadb.db.Analysis">
    <optional>
      <element name="analysisType">
        <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
      </element>
    </optional>
    <optional>
      <element name="url">
        <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
          <param name="maxLength">100</param>
        </data>
      </element>
    </optional>
    <optional>
      <element name="account">
        <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
          <param name="maxLength">50</param>
        </data>
      </element>
    </optional>
    <optional>
      <element name="password">
        <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
          <param name="maxLength">100</param>
        </data>
      </element>
    </optional>
    <optional>
      <element name="baseinputfile">
        <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
          <param name="maxLength">50</param>
        </data>
      </element>
    </optional>
    <optional>
      <element name="baseoutputfile">
        <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
          <param name="maxLength">50</param>
        </data>
      </element>
    </optional>
    <optional>
      <element name="serviceName">
        <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
          <param name="maxLength">100</param>
        </data>
      </element>
    </optional>
    <element name="analysisDatas">
      <zeroOrMore>
        <element name="analysisDatas-el">
          <element name="reference">
            <data type="int" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
          </element>
          <optional>
            <ref name="net.sf.regadb.db.AnalysisData" />
          </optional>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="net.sf.regadb.db.AnalysisData">
    <optional>
      <element name="name">
        <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
          <param name="maxLength">50</param>
        </data>
      </element>
    </optional>
    <optional>
      <element name="data">
        <data type="base64Binary" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
      </element>
    </optional>
    <optional>
      <element name="mimetype">
        <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
          <param name="maxLength">50</param>
        </data>
      </element>
    </optional>
  </define>
  <define name="net.sf.regadb.db.TestType">
    <optional>
      <element name="valueType">
        <element name="reference">
          <data type="int" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
        </element>
        <optional>
          <ref name="net.sf.regadb.db.ValueType" />
        </optional>
      </element>
    </optional>
    <optional>
      <element name="testObject">
        <element name="reference">
          <data type="int" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
        </element>
        <optional>
          <ref name="net.sf.regadb.db.TestObject" />
        </optional>
      </element>
    </optional>
    <optional>
      <element name="description">
        <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
          <param name="maxLength">50</param>
        </data>
      </element>
    </optional>
    <element name="testNominalValues">
      <zeroOrMore>
        <element name="testNominalValues-el">
          <element name="reference">
            <data type="int" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
          </element>
          <optional>
            <ref name="net.sf.regadb.db.TestNominalValue" />
          </optional>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="net.sf.regadb.db.ValueType">
    <optional>
      <element name="description">
        <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
          <param name="maxLength">50</param>
        </data>
      </element>
    </optional>
    <optional>
      <element name="minimum">
        <data type="double" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
      </element>
    </optional>
    <optional>
      <element name="maximum">
        <data type="double" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
      </element>
    </optional>
    <optional>
      <element name="multiple">
        <data type="boolean" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
      </element>
    </optional>
  </define>
  <define name="net.sf.regadb.db.TestObject">
    <optional>
      <element name="description">
        <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
          <param name="maxLength">50</param>
        </data>
      </element>
    </optional>
    <optional>
      <element name="testObjectId">
        <data type="int" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
      </element>
    </optional>
  </define>
  <define name="net.sf.regadb.db.TestNominalValue">
    <optional>
      <element name="testType">
        <element name="reference">
          <data type="int" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
        </element>
        <optional>
          <ref name="net.sf.regadb.db.TestType" />
        </optional>
      </element>
    </optional>
    <optional>
      <element name="value">
        <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
          <param name="maxLength">100</param>
        </data>
      </element>
    </optional>
  </define>
  <define name="net.sf.regadb.db.PatientAttributeValue">
    <element name="attribute">
      <element name="reference">
        <data type="int" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
      </element>
      <optional>
        <ref name="net.sf.regadb.db.Attribute" />
      </optional>
    </element>
    <optional>
      <element name="attributeNominalValue">
        <element name="reference">
          <data type="int" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
        </element>
      </element>
    </optional>
    <optional>
      <element name="value">
        <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
          <param name="maxLength">100</param>
        </data>
      </element>
    </optional>
  </define>
  <define name="net.sf.regadb.db.Attribute">
    <optional>
      <element name="valueType">
        <element name="reference">
          <data type="int" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
        </element>
        <optional>
          <ref name="net.sf.regadb.db.ValueType" />
        </optional>
      </element>
    </optional>
    <optional>
      <element name="attributeGroup">
        <element name="reference">
          <data type="int" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
        </element>
        <optional>
          <ref name="net.sf.regadb.db.AttributeGroup" />
        </optional>
      </element>
    </optional>
    <optional>
      <element name="name">
        <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
          <param name="maxLength">50</param>
        </data>
      </element>
    </optional>
    <element name="attributeNominalValues">
      <zeroOrMore>
        <element name="attributeNominalValues-el">
          <element name="reference">
            <data type="int" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
          </element>
          <optional>
            <ref name="net.sf.regadb.db.AttributeNominalValue" />
          </optional>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="net.sf.regadb.db.AttributeGroup">
    <optional>
      <element name="groupName">
        <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
          <param name="maxLength">50</param>
        </data>
      </element>
    </optional>
  </define>
  <define name="net.sf.regadb.db.AttributeNominalValue">
    <optional>
      <element name="value">
        <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
          <param name="maxLength">100</param>
        </data>
      </element>
    </optional>
  </define>
  <define name="net.sf.regadb.db.ViralIsolate">
    <optional>
      <element name="sampleId">
        <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
          <param name="maxLength">50</param>
        </data>
      </element>
    </optional>
    <optional>
      <element name="sampleDate">
        <data type="date" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
      </element>
    </optional>
    <element name="ntSequences">
      <zeroOrMore>
        <element name="ntSequences-el">
          <ref name="net.sf.regadb.db.NtSequence" />
        </element>
      </zeroOrMore>
    </element>
    <element name="testResults">
      <zeroOrMore>
        <element name="testResults-el">
          <ref name="net.sf.regadb.db.TestResult" />
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="net.sf.regadb.db.NtSequence">
    <optional>
      <element name="nucleotides">
        <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
      </element>
    </optional>
    <optional>
      <element name="label">
        <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
          <param name="maxLength">50</param>
        </data>
      </element>
    </optional>
    <optional>
      <element name="sequenceDate">
        <data type="date" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
      </element>
    </optional>
    <element name="aaSequences">
      <zeroOrMore>
        <element name="aaSequences-el">
          <ref name="net.sf.regadb.db.AaSequence" />
        </element>
      </zeroOrMore>
    </element>
    <element name="testResults">
      <zeroOrMore>
        <element name="testResults-el">
          <ref name="net.sf.regadb.db.TestResult" />
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="net.sf.regadb.db.AaSequence">
    <optional>
      <element name="protein">
        <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
      </element>
    </optional>
    <optional>
      <element name="firstAaPos">
        <data type="short" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
      </element>
    </optional>
    <optional>
      <element name="lastAaPos">
        <data type="short" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
      </element>
    </optional>
    <element name="aaMutations">
      <zeroOrMore>
        <element name="aaMutations-el">
          <ref name="net.sf.regadb.db.AaMutation" />
        </element>
      </zeroOrMore>
    </element>
    <element name="aaInsertions">
      <zeroOrMore>
        <element name="aaInsertions-el">
          <ref name="net.sf.regadb.db.AaInsertion" />
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="net.sf.regadb.db.AaMutation">
    <element name="mutationPosition">
      <data type="short" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
    </element>
    <optional>
      <element name="aaReference">
        <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
          <param name="maxLength">1</param>
        </data>
      </element>
    </optional>
    <optional>
      <element name="aaMutation">
        <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
          <param name="maxLength">30</param>
        </data>
      </element>
    </optional>
    <optional>
      <element name="ntReferenceCodon">
        <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
          <param name="maxLength">3</param>
        </data>
      </element>
    </optional>
    <optional>
      <element name="ntMutationCodon">
        <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
          <param name="maxLength">3</param>
        </data>
      </element>
    </optional>
  </define>
  <define name="net.sf.regadb.db.AaInsertion">
    <element name="insertionPosition">
      <data type="short" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
    </element>
    <element name="insertionOrder">
      <data type="short" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
    </element>
    <optional>
      <element name="aaInsertion">
        <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
          <param name="maxLength">30</param>
        </data>
      </element>
    </optional>
    <optional>
      <element name="ntInsertionCodon">
        <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
          <param name="maxLength">3</param>
        </data>
      </element>
    </optional>
  </define>
  <define name="net.sf.regadb.db.Therapy">
    <optional>
      <element name="startDate">
        <data type="date" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
      </element>
    </optional>
    <optional>
      <element name="stopDate">
        <data type="date" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
      </element>
    </optional>
    <optional>
      <element name="comment">
        <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
          <param name="maxLength">50</param>
        </data>
      </element>
    </optional>
    <element name="therapyCommercials">
      <zeroOrMore>
        <element name="therapyCommercials-el">
          <ref name="net.sf.regadb.db.TherapyCommercial" />
        </element>
      </zeroOrMore>
    </element>
    <element name="therapyGenerics">
      <zeroOrMore>
        <element name="therapyGenerics-el">
          <ref name="net.sf.regadb.db.TherapyGeneric" />
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="net.sf.regadb.db.TherapyCommercial">
    <element name="drugCommercial">
      <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
    </element>
    <optional>
      <element name="dayDosageUnits">
        <data type="double" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
      </element>
    </optional>
  </define>
  <define name="net.sf.regadb.db.TherapyGeneric">
    <element name="drugGeneric">
      <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
    </element>
    <optional>
      <element name="dayDosageMg">
        <data type="double" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" />
      </element>
    </optional>
  </define>
  <start>
    <element name="Patients">
      <zeroOrMore>
        <ref name="net.sf.regadb.db.Patient" />
      </zeroOrMore>
    </element>
  </start>
</grammar>

